# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/

# Android
.gradle/
local.properties
*.apk
*.ap_
*.dex
*.class
*.hprof
